{% extends "base.html" %} {% block content %}

<h1>Folha Ponto</h1>
<!DOCTYPE html>

<table class="table table-striped">
  <thead>
    <tr></tr>
  </thead>
  <tbody>
    <tr>
      <td>Usuário: {{nome|capfirst}} </td>
    </tr>
    <tr>
      <td colspan="4">
        <table class="table mb-0">
          <thead>
            <tr>
              <th>Dia</th>
              <th>Entrada</th>
              <th>Saída</th>
            </tr>
          </thead>
          <tbody>
            {% for ponto in pontos %}
            <tr>
              <td>{{ponto.entrada.date|date:"d/m/Y"}}</td>
              <td>{{ponto.entrada.time|time:"H:i"}}</td>
              <td>{{ponto.saida.time}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

{% endblock %}
