{% extends "base.html" %} {% load crispy_forms_tags %} {% load static %} 

{%block content %}
<div class="container border border-dark">
  <h1>Folha Ponto</h1>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="row">
      <div class="col-md-4">{{form.entrada|as_crispy_field}}</div>
      <div class="col-md-4">{{form.saida|as_crispy_field}}</div>
      <div class="col-md-4">{{form.usuario|as_crispy_field}}</div>
    </div>
    <div class="text-center mb-3">
      <div
        class="btn-group btn-group-lg"
        role="group"
        aria-label="Basic example"
      >
        <button type="submit" class="btn btn-primary">
          <i class="fa-solid fa-search"></i> Consulta
        </button>
        <button type="button" class="btn btn-warning">
          <i class="fa-solid fa-file-excel"></i> Exportar
        </button>
        <button type="button" class="btn btn-primary">
          <i class="fa-solid fa-arrows-rotate"></i> Limpar
        </button>
      </div>
    </div>
  </form>
</div>
<div class="container border border-dark">
  <h4>Resultado da Consulta</h4>
  <table class="table table-striped">
    <thead>
      <tr></tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="4">
          <table class="table mb-0">
            <thead>
              <tr>
                <th></th>
                <th>Data</th>
                <th>Atrasado</th>
                <th>Trabalhadas</th>
                <th>Credor</th>
                <th>Devedor</th>
              </tr>
            </thead>
            <tbody>
              {% for ponto in pontos %}
              <tr>
                <td><i class="fa-solid fa-pencil"></i></td>
                <td>{{ponto.entrada.atraso}}</td>
                <td>{{ponto.entrada.time|time:"H:i"}}</td>
                <td>{{ponto.saida.time}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
